.card {
  width: 90%;
  margin: 2rem auto;
  height: 10rem;
  background-image: url(../../../public/images/parcheminFini.webp);
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.card-name {
  font-size: 1.7rem;
  font-weight: 500;
}
.adventure {
  font-size: 1.3rem;
  margin-bottom: 0.5rem;
}
