/*  Page Combat */
.qdg-button-fight {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  height: 3rem;
}
.qdg-button-fight:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
.qdg-dice-result {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 2.5rem;
  background-image: url(../../../public/images/parcheminFini.webp);
  background-size: cover;

  height: 4rem;
  width: 4rem;
}
.qdg-life-fighter {
  display: flex;
  justify-content: space-around;
  margin-block: 1rem;
}
.qdg-life-fighter-box {
  position: relative;
  display: flex;
  flex-direction: column;
}
.qdg-pip-select {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.qdg-life-fighter-box input {
  height: 5rem;
  width: 7rem;
  text-align: center;
  font-size: 3rem;
  margin-block: 1rem;
  font-weight: 700;
}
.up-life,
.down-life {
  position: absolute;
  height: 2rem;
  width: 2rem;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}
.up-life {
  background-color: rgb(40, 177, 131);
  top: 2rem;
  right: -0.5rem;
}
.down-life {
  background-color: rgb(212, 28, 28);
  bottom: 1rem;
  right: -0.5rem;
}
.qdg-dice-box {
  display: flex;
  justify-content: center;
  gap: 2rem;
  margin-block: 1rem;
}
.qdg-result {
  font-size: 1.5rem;
}
.qdg-result-title {
  margin-block: 1rem;
}
.qdg-perso,
.qdg-life-pts,
.qdg-has-life {
  font-size: 1.8rem;
  color: brown;
}
/* Page Note et chapitre */
.qdg-notes-title {
  font-size: 1.6rem;
}
.qdg-notes {
  width: 90%;
  margin: 1rem auto;
}
.qdg-list {
  width: 100%;
  height: 1.5rem;
  border-block: 1px solid black;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.3rem;
  text-align: center;
}
.qdg-chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.qdg-chapter input {
  margin: 1rem auto;
  width: 9rem;
  height: 5rem;
  width: 7rem;
  text-align: center;
  font-size: 3rem;
  font-weight: 700;
}
/*  page perso */
.qdg-equipment {
  width: 90%;
  margin: 0 auto;
}
.qdg-title {
  font-size: 1.5rem;
}
.qdg-stats {
  display: flex;
  justify-content: space-around;
}
.qdg-stat {
  width: 30%;
  margin-block: 1rem;
}
.qdg-stat input {
  width: 100%;
  height: 4rem;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
}

.qdg-equipment li,
.qdg-notes li {
  position: relative;
  margin-block: 1rem;
}
.qdg-delete-equip,
.qdg-delete-note {
  position: absolute;
  background-color: red;
  padding: 0.3rem;
  border-radius: 50%;
  top: -0.9rem;
  right: -0.5rem;
  cursor: pointer;
}
.qdg-note-button {
  background-image: url(../../../public/images/parcheminFini.webp);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  margin-block: 1rem;
}
/* page Hasard */
.qdg-hasard-title {
  font-size: 1.5rem;
  margin-block: 2rem;
}
.qdg-hasard-button {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #a00586 5%, #d413cb 100%);
  background-color: #a31e9d;
  border-radius: 6px;
  border: 1px solid #8b1a7c;
  display: inline-block;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  height: 5rem;
  margin: 2rem 0 4rem 0;
}
.qdg-hasard-button:hover {
  background: linear-gradient(to bottom, #d413cb 5%, #a00586 100%);
  background-color: #a31e9d;
}
.qdg-hasard-score {
  font-size: 5rem;
  background-image: url(../../../public/images/parcheminFini.webp);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.qdg-message {
  font-size: 1.2rem;
}
