.footer {
  height: 2rem;
  background-image: url(/images/parcheminFini.png);
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: sticky;
  bottom: 0;
  left: 0;
}

.copyright {
  font-weight: bold;
}
