.title {
  font-size: 2rem;
  margin-block: 1rem;
}
/* page perso */
.ls-stats {
  display: flex;
}
.ls-stat label,
.ls-arme label,
.ls-title {
  font-size: 1.8rem;
  margin-block: 1rem;
}
.ls-stat input,
.ls-chapter input {
  height: 5rem;
  width: 7rem;
  text-align: center;
  font-size: 3rem;
  margin-block: 1rem;
  font-weight: 700;
}
.main {
  margin-bottom: 1rem;
}
input {
  background-image: url(../../../public/images/parcheminFini.webp);
  background-size: cover;
  background-position: center;
  border: none;
  background-color: var(--primary-color);
  font-family: var(--text-font);
}
.ls-discipline,
.ls-bag,
.ls-special-bag,
.ls-notes {
  width: 90%;
  margin: 1rem auto;
}
.ls-list,
.ls-arme input {
  width: 100%;
  height: 1.5rem;
  border-block: 1px solid black;
  font-size: 1.5rem;
  font-weight: 700;
  padding: 0.3rem;
  text-align: center;
}
.ls-arme {
  display: flex;
  flex-direction: column;
  margin-block: 1rem;
}
.ls-arme input {
  width: 90%;
  margin: 0 auto;
}
/* Page Note Chapitre */
.qdg-book {
  display: flex;
  flex-direction: column;
}
.qdg-book label,
.qdg-chapter label {
  font-size: 1.3rem;
  margin: 1rem 0 0.5rem 0;
}
.qdg-book input {
  height: 2.5rem;
  font-size: 1.5rem;
  font-weight: 700;
  padding-inline: 0.8rem;
  text-align: center;
}
.ls-chapter {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.ls-chapter input {
  margin: 1rem auto;
  width: 9rem;
}
.ls-notes-title {
  font-size: 1.6rem;
}
.ls-notes li {
  position: relative;
  margin-block: 1rem;
}
.ls-delete-note {
  position: absolute;
  background-color: red;
  padding: 0.3rem;
  border-radius: 50%;
  top: -0.9rem;
  right: -0.5rem;
  cursor: pointer;
}
.ls-note-button {
  background-image: url(../../../public/images/parcheminFini.webp);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  margin-block: 1rem;
}

/*  page Combat */
.ls-weapon-mastery {
  margin-bottom: 1rem;
}
.ls-weapon-mastery label {
  font-size: 1.4rem;
  margin-right: 1rem;
}
.ls-weapon-mastery input {
  width: 1.2rem;
  height: 1.2rem;
}
.ls-quot {
  font-size: 1.6rem;
  margin-bottom: 1rem;
}
.ls-ability-fight,
.ls-endurance-fight {
  display: flex;
  margin-block: 1rem;
}
.ls-ability-fight-box input,
.ls-endurance-fight-box input {
  height: 5rem;
  width: 7rem;
  text-align: center;
  font-size: 3rem;
  margin-block: 1rem;
  font-weight: 700;
}
.stat-ennemy {
  color: red;
}

.button-fight {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #fe1a00 5%, #ce0100 100%);
  background-color: #fe1a00;
  border-radius: 6px;
  border: 1px solid #d83526;
  display: inline-block;
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  text-decoration: none;
  text-shadow: 0px 1px 0px #b23e35;
  height: 3rem;
}
.button-fight:hover {
  background: linear-gradient(to bottom, #ce0100 5%, #fe1a00 100%);
  background-color: #ce0100;
}
.button-fight-hidden {
  display: none;
}
.ls-perso,
.ls-life-pts,
.ls-has-life {
  font-size: 1.8rem;
  color: brown;
}
.ls-result {
  margin-block: 1rem;
  font-size: 1.6rem;
}
.ls-result-fight {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
}

/* Page Hasard */
.ls-hasard-title {
  font-size: 1.5rem;
  margin-block: 2rem;
}
.ls-hasard-button {
  box-shadow: inset 0px 1px 0px 0px #f29c93;
  background: linear-gradient(to bottom, #a00586 5%, #d413cb 100%);
  background-color: #a31e9d;
  border-radius: 6px;
  border: 1px solid #8b1a7c;
  display: inline-block;
  cursor: pointer;
  font-size: 1.8rem;
  font-weight: 400;
  padding: 0.5rem 1.5rem;
  height: 5rem;
  margin: 2rem 0 4rem 0;
}
.ls-hasard-button:hover {
  background: linear-gradient(to bottom, #d413cb 5%, #a00586 100%);
  background-color: #a31e9d;
}
.ls-hasard-score {
  font-size: 5rem;
  background-image: url(../../../public/images/parcheminFini.webp);
  background-size: cover;
  background-position: center;
  background-color: transparent;
  width: 8rem;
  height: 8rem;
  margin: 0 auto;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
